@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px auto;

}
.des{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}

/* header */
/* nav */
.nav-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 45px;
    font-weight: 700;
    margin-left: 0px;
}

.nav-heading span {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000d;
    padding: 1.5rem 6rem;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 0px;
}

ul>li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

li>a {
    text-decoration: none;
    color: #3C354F;
}

ul button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
}

/* banner */
.banner {
    display: flex;
    align-items: center;
    /* background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left; */
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 1.5rem 6rem;
}

.ban-text {
    width: 50%;
    background-image: url(images/Group\ 14.png);
    background-size: 100%;
}

.small-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.ban-title {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ban-des {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.button1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: #FF42A5;
    padding: 1rem 2rem;
    border-radius: 48px;
    border: none;
}
.ban-button{
    display: inline-flex;
    gap: .8rem;
}
.button2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background: #4EC5F7;
    padding: 1rem 2rem;
    border-radius: 48px;
    border: none;
    
}

.ban-img {
    width: 50%;
}

.ban-img>img {
    width: 100%;
}

/* we are gamer */
/* main{
    padding: 1.5rem 6rem;
} */
.we{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 6rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.we-img{
    width: 60%;
}
.we-img >img{
    width: 100%;
}
.we-text{
    width: 40%;
    text-align: right;
}
.we-title {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}
.we-des{
    color: #534C64;
font-size: 18px;
font-weight: 400;
margin-bottom: 1rem;

}
.ex-text{
    color: #534C64;
font-size: 1rem;
font-weight: 500;
margin-top: 10px;
}
.bold{
    font-weight: 700;
    font-size: 1.5rem;
    font-size: 24px;
}
/* online Games */
.online-games{
    padding: 1.5rem 6rem;
}
.online-title{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.online-games-text{
    text-align: center;
    margin: 3rem 0px;
}
.online-games-img{
    width: 100%;
    /* border: 1px solid blue; */
    position: relative;
}

.online-games-img-cont{
    display: flex;
    gap: 1.5rem;
}
.online-games-img>img{
    width: 100%;
    position: relative;
    /* extra */
    opacity: 1;
    display: block;
    transition: .5s ease;
  backface-visibility: hidden;
}
/* extar */
.over{
    transition: .5s ease;
    opacity: 0 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}
.online-games-img:hover .image {
    opacity: 0.3;
    border-radius: 16px;
    border: 3px solid #F948B2;
    
}
.online-games-img:hover .over{
    opacity: 1;
    
}
.overtext{
  color:#F948B2;
  font-size: 14px;
  font-weight: 600;
  /* padding: 16px 32px; */
  align-items: center;
}
/* extra end */

.ani{
    display: flex;
    gap: 2rem;
    padding: 1.5rem 6rem 0rem;
    align-items: center;
    /* max-height: 850px; */
    margin-top: 20px;
}
.ani-title{
font-size: 44px;
font-weight: 700;
color: #0B0223;
margin-bottom: 2rem;

}
.ani-title>span{
    color: #FF42A5;
}
.ani-text>.des{
    max-width: 353px;
    margin-right: 0px;
}
.ani-text{
    text-align: right;
    width: 45%;
}
.ani-main-img{
    margin-left: 125px;
    width: 80%;
    margin-top: 100px;
    
}
.extra-img{
    max-width: 100%;
    position: relative;
    bottom: 250px;
}
/* types */

.type-d{
    display: flex;
    align-items: center;
    border-radius: 50px;
background: #faf9f9;
color: #0B0223;
font-size: 16px;
font-weight: 600;
border: none;
}
.type-d:hover{
    border-radius: 50px;
    cursor: pointer;
    color: #F948B2;
    border: 1px solid #F948B2;
}
.types{
    padding: 1.5rem 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
/* footer */
footer{
    background: #0B0223;
    text-align: center;
    padding: 4rem 0px;
}
.foot-heading span {
        color: #FF42A5;
}
.foot-heading{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: fit-content;
}
footer a{
     text-decoration: none;
     color:currentColor;
}
.foot-text1{
    color: #FFF;
font-size: 18px;
font-weight: 600;
display: flex;
gap: 3rem;
max-width: fit-content;
margin-top: 3rem;
margin-bottom: 3rem;
}
.foot-icon{
    display: flex;
    gap: 2rem;
    max-width: fit-content ;
    margin-bottom:3rem;
}
.foot-text2{
    color: #ffffff99;
font-size: 14px;
font-weight: 500;

}

@media screen and (max-width:620px) {
    body{
        padding: 0px 2rem;
        margin: 0px auto;
    }
    nav , .we , .online-games , .online-games-img-cont ,
    .ani{
        flex-direction: column;
        padding: 0px;
       
    }
    .nav-heading{
        margin-right: 0px;
    }
    ul{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        margin-top: 3rem;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 50px 0px;
        background: rgb(255, 255, 255);
        gap: 1.25rem;
    }
    .ban-text , .we-text , .ani-text{
        margin: 0px;
        width: 100%;
    }
    .ban-img , .we-img{
        width: 100%;
    }
    .we-text , .ani-text{
        text-align: center;
    }
    .ani-main-img {
        width: 80%;
        margin-top: 0px;
        margin-left: 50px;
    }
    .ani-img{
        width: 100%;
        max-height: 100%;
        margin-bottom: 3rem;
    }
.extra-img{
    max-width: 50%;
    max-height: 100%;
    position: relative;
    bottom: 90px;
}
.types{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#game9{
    grid-column: span 2;
}
.foot-text1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .8rem;
    font-size: 16px;
}
.foot-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#foot-text3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}
@media screen and (min-width:621px) and (max-width:1024px) {
    nav , .banner , .we , .online-games , 
    .ani , .types{
        padding: 1.5rem 2rem;
    }
    .banner button{
        margin-bottom: 10px;
    }
    .ani{
        flex-direction: column;
        
    }
    .ani-img{
       max-height: 950px;
    }
    .ani-text{
        text-align: center;
    }
    .ani-main-img{
        margin-top: 0px;
    }
    .types{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
    .foot-text1 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: .8rem;
        font-size: 16px;
    }
}